.weather-card {
  border-radius: 0.75rem;
  overflow: hidden;
}


.weather-card.active {
  transform: scale(1.1);
  opacity: 1;
  z-index: 10;
  display: block !important;
  border-radius: 0.75rem;
  overflow: hidden;
  transition: transform 0.3s ease, border-radius 0.3s ease, opacity 0.3s ease;
}



.weather-card.left,
.weather-card.right {
  transform: scale(0.9);
  opacity: 0.5;
  z-index: 5;
  display: block !important;
}

.weather-card.hidden {
  display: none;
}
#carousel {
  position: relative;
  overflow: visible; /* Kartlar dışarı taşıyabilsin */
  align-items: center;
  height: 28rem; /* Kart yüksekliğinden biraz fazla olmalı */
}


